body {
    background-color: #f6f6f6;
}
header {
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    color: #555;
    padding:10px 0;
    margin-bottom:10px;
}
footer {
    border-top: 1px solid #ccc;
    background-color: #fff;
    color: #555;
    padding:10px 0;
    margin-top:10px;
}
.footer-links a {margin-left:10px;}
.time {
  padding-left:5px;
  padding-right:5px;
}
blockquote {
    padding: 9.5px;
    margin: 10px 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.donate-img {
    width:128px;
    height:128px;
}
@media (min-width: 768px) {
  .time {
    text-align: right !important;
    padding-right:10px;
    max-width:100px !important;
    border-right: 1px solid rgba(0,0,0,.125);
  }
}
